# Reference configuration file for Suricata
#
# This file contains reference information for rules. The reference is used
# to provide additional context and information about rules.

# format: config reference:name,url

config reference:url,http://www.info
config reference:url,http://doc.emergingthreats.net/
config reference:url,http://www.emergingthreats.net/
config reference:url,http://rules.emergingthreats.net/
config reference:url,http://www.snort.org/
config reference:url,http://www.snort.org/vrt/
config reference:url,http://cve.mitre.org/
config reference:url,http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference:url,http://www.osvdb.org/
config reference:url,http://osvdb.org/show/osvdb/
config reference:url,http://www.securityfocus.com/bid/
config reference:url,http://www.securityfocus.com/bid/
config reference:url,http://www.securitytracker.com/id?
config reference:url,http://secunia.com/advisories/
config reference:url,http://secunia.com/
config reference:url,http://www.nessus.org/plugins/index.php?view=single&id=
config reference:url,http://cgi.nessus.org/plugins/dump.php3?id=
config reference:url,http://www.whitehats.com/info/IDS
config reference:url,http://www.whitehats.com/
config reference:url,http://xforce.iss.net/xforce/xfdb/
config reference:url,http://www.iss.net/threats/
config reference:url,http://www.iss.net/security_center/reference/vuln/
config reference:url,http://www.cert.org/advisories/
config reference:url,http://www.cert.org/incident_notes/
config reference:url,http://www.kb.cert.org/vuls/id/
config reference:url,http://www.cert.org/vulnerability_analysis/vulnerabilities.html
config reference:url,http://www.kaspersky.com/
config reference:url,http://www.eeye.com/html/research/advisories/
config reference:url,http://www.eeye.com/
config reference:url,http://www.pentest.co.uk/
config reference:url,http://www.cipher.org/
config reference:url,http://www.linuxsecurity.com/advisories/
config reference:url,http://www.linuxsecurity.com/
config reference:url,http://www.sans.org/y2k/
config reference:url,http://www.sans.org/
config reference:url,http://www.microsoft.com/technet/security/bulletin/
config reference:url,http://www.microsoft.com/technet/security/bulletin/default.asp
config reference:url,http://www.us-cert.gov/cas/techalerts/
config reference:url,http://www.us-cert.gov/
config reference:url,http://www.us-cert.gov/cas/alerts/
config reference:url,http://www.kb.cert.org/vuls/
config reference:url,http://www.f-secure.com/v-descs/
config reference:url,http://www.europe.f-secure.com/v-descs/
config reference:url,http://www.f-secure.com/
config reference:url,http://www.sophos.com/virusinfo/analyses/
config reference:url,http://sophos.com/
config reference:url,http://www.mcafee.com/us/threat_center/
config reference:url,http://www.mcafee.com/us/threat_center/vil/description.asp?virus_k=
config reference:url,http://vil.nai.com/vil/content/v_
config reference:url,http://www.virusbtn.com/
config reference:url,http://www.trendmicro.com/vinfo/virusencyclo/
config reference:url,http://www.trendmicro.com/
config reference:url,http://www.wormbook.com/
config reference:url,http://www.avp.ch/
config reference:url,http://www.grisoft.com/vdb/
config reference:url,http://www.grisoft.com/
config reference:url,http://www.clamav.net/
config reference:url,http://www.openantivirus.org/
config reference:url,http://www.free-av.com/
config reference:url,http://www.avast.com/eng/virus-info.html
config reference:url,http://www.avast.com/
config reference:url,http://www.ikarus-software.at/
config reference:url,http://www.bitdefender.com/
config reference:url,http://www.bitdefender.com/site/view/Virus-information.html
config reference:url,http://www.bitdefender.com/scan/license.php
config reference:url,http://www.norman.com/Virus/virus_descriptions/
config reference:url,http://www.norman.com/
config reference:url,http://www.panda-software.com/virus_info/encyclopedia/
config reference:url,http://www.panda-software.com/
config reference:url,http://www.ravantivirus.com/scan/
config reference:url,http://www.ravantivirus.com/
config reference:url,http://www.norman.com/Virus/virus_descriptions/
config reference:url,http://www.norman.com/
config reference:url,http://www.sarc.com/avcenter/virus.asp
config reference:url,http://www.sarc.com/
config reference:url,http://www.arcabit.com/
config reference:url,http://www.arcabit.com/anti-virus
config reference:url,http://www.arcabit.com/anti-virus/virus-descriptions
config reference:url,http://www.esafe.com/virusinfo/vdb/
config reference:url,http://www.esafe.com/
config reference:url,http://www3.ca.com/virusinfo/
config reference:url,http://www3.ca.com/virusinfo/virus.aspx?id=
config reference:url,http://www3.ca.com/
config reference:url,http://www.my-etrust.com/eng/virus/
config reference:url,http://www.my-etrust.com/
config reference:url,http://www.symantec.com/avcenter/
config reference:url,http://www.symantec.com/avcenter/venc/data/
config reference:url,http://securityresponse.symantec.com/avcenter/venc/data/
config reference:url,http://www.symantec.com/
config reference:url,http://www.messagelabs.com/mlwr/
config reference:url,http://www.messagelabs.com/
config reference:url,http://www.gdata.de/virusinfo/
config reference:url,http://www.gdata.de/
config reference:url,http://www.juniper.net/security/auto/vulnerabilities/
config reference:url,http://www.juniper.net/
config reference:url,http://www.cisco.com/en/US/products/products_security_advisories_listing.html
config reference:url,http://www.cisco.com/
config reference:url,http://www.checkpoint.com/defense/advisories/public/
config reference:url,http://www.checkpoint.com/
config reference:url,http://www.watchguard.com/infocenter/editorial.asp
config reference:url,http://www.watchguard.com/
config reference:url,http://www.qualys.com/research/
config reference:url,http://www.qualys.com/
config reference:url,http://www.tenablesecurity.com/plugins/
config reference:url,http://www.tenablesecurity.com/
config reference:url,http://www.redhat.com/support/errata/
config reference:url,http://www.redhat.com/
config reference:url,http://www.suse.com/security/cve/
config reference:url,http://www.suse.com/
config reference:url,http://www.gentoo.org/security/en/glsa/
config reference:url,http://www.gentoo.org/
config reference:url,http://www.mandriva.com/security/advisories
config reference:url,http://www.mandriva.com/
config reference:url,http://www.ubuntu.com/usn
config reference:url,http://www.ubuntu.com/
config reference:url,http://www.debian.org/security/
config reference:url,http://www.debian.org/
config reference:url,http://www.freebsd.org/security/advisories.html
config reference:url,http://www.freebsd.org/
config reference:url,http://www.openbsd.org/security.html
config reference:url,http://www.openbsd.org/
config reference:url,http://www.netbsd.org/Misc/security/advisories.html
config reference:url,http://www.netbsd.org/
config reference:url,http://www.openwall.com/lists/oss-security/
config reference:url,http://www.openwall.com/
config reference:url,http://www.kernel.org/pub/linux/kernel/v2.6/ChangeLog-
config reference:url,http://www.kernel.org/
config reference:url,http://www.php.net/
config reference:url,http://www.php.net/ChangeLog-5.php
config reference:url,http://www.php.net/security/
config reference:url,http://www.apache.org/dist/httpd/CHANGES_
config reference:url,http://httpd.apache.org/security/
config reference:url,http://www.apache.org/
config reference:url,http://httpd.apache.org/
config reference:url,http://www.mysql.com/
config reference:url,http://bugs.mysql.com/
config reference:url,http://www.oracle.com/technetwork/topics/security/alerts-086861.html
config reference:url,http://www.oracle.com/
config reference:url,http://www.postgresql.org/docs/current/static/release.html
config reference:url,http://www.postgresql.org/
config reference:url,http://www.microsoft.com/technet/security/Bulletin/MS
config reference:url,http://www.microsoft.com/
config reference:url,http://www.adobe.com/support/security/advisories/apsa
config reference:url,http://www.adobe.com/support/security/
config reference:url,http://www.adobe.com/
config reference:url,http://www.mozilla.org/security/announce/
config reference:url,http://www.mozilla.org/
config reference:url,http://www.firefox.com/
config reference:url,http://www.opera.com/support/security/
config reference:url,http://www.opera.com/
config reference:url,http://www.google.com/
config reference:url,http://code.google.com/p/chromium/issues/list
config reference:url,http://www.webkit.org/security/
config reference:url,http://webkit.org/
config reference:url,http://www.samba.org/samba/security/
config reference:url,http://www.samba.org/
config reference:url,http://www.isc.org/software/bind/advisories/
config reference:url,http://www.isc.org/
config reference:url,http://www.isc.org/software/dhcp/
config reference:url,http://www.tcpdump.org/
config reference:url,http://www.tcpdump.org/security/
config reference:url,http://www.wireshark.org/security/
config reference:url,http://www.wireshark.org/
config reference:url,http://www.openldap.org/software/release/
config reference:url,http://www.openldap.org/
config reference:url,http://www.cyrusimap.org/
config reference:url,http://asg.web.cmu.edu/cyrus/download/release-notes/
config reference:url,http://www.exim.org/
config reference:url,http://www.exim.org/exim-html-current/doc/html/spec_html/ch-changelog.html
config reference:url,http://www.sendmail.org/
config reference:url,http://www.proftpd.org/
config reference:url,http://www.proftpd.org/docs/NEWS
config reference:url,http://www.proftpd.org/security/
config reference:url,http://www.pcre.org/
config reference:url,http://www.pcre.org/changelog.txt
config reference:url,http://www.pcre.org/security/
config reference:url,http://www.libpng.org/
config reference:url,http://www.libpng.org/pub/png/libpng.html
config reference:url,http://www.libpng.org/pub/png/src/
config reference:url,http://www.torproject.org/
config reference:url,http://www.vidalia-project.net/
config reference:url,http://www.pidgin.im/
config reference:url,http://www.pidgin.im/news/security/
config reference:url,http://www.gaim.ca/
config reference:url,http://www.ettercap-project.org/
config reference:url,http://www.ettercap-project.org/downloads.html
config reference:url,http://www.ettercap-project.org/downloads.html#sec
config reference:url,http://www.dsniff.org/
config reference:url,http://www.monkey.org/~dugsong/dsniff/
config reference:url,http://www.dsniff.org/FAQ
config reference:url,http://www.openvpn.net/
config reference:url,http://www.openvpn.net/index.php/open-source/documentation/security-overview.html
config reference:url,http://www.openssl.org/
config reference:url,http://www.openssl.org/news/changelog.html
config reference:url,http://www.openssl.org/news/vulnerabilities.html
config reference:url,http://www.gnutls.org/
config reference:url,http://www.gnutls.org/security.html
config reference:url,http://www.curl.haxx.se/
config reference:url,http://curl.haxx.se/docs/adv_20XX.html
config reference:url,http://curl.haxx.se/docs/security.html
config reference:url,http://www.libssh2.org/
config reference:url,http://www.libssh2.org/changelog.html
config reference:url,http://www.wget.in/
config reference:url,http://wget.sunsite.dk/
config reference:url,http://www.wget.in/security.html
config reference:url,http://www.w3.org/
config reference:url,http://www.w3.org/TR/
config reference:url,http://www.whatwg.org/
config reference:url,http://www.html5rocks.com/
config reference:url,http://html5sec.org/
config reference:url,http://www.cgisecurity.com/
config reference:url,http://www.owasp.org/
config reference:url,http://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project
config reference:url,http://www.owasp.org/index.php/OWASP_Testing_Project
config reference:url,http://ha.ckers.org/
config reference:url,http://www.xssed.com/
config reference:url,http://sla.ckers.org/
config reference:url,http://www.portswigger.net/
config reference:url,http://www.portswigger.net/burp/
config reference:url,http://blog.portswigger.net/
config reference:url,http://www.acunetix.com/
config reference:url,http://www.acunetix.com/vulnerability-scanner/
config reference:url,http://www.cirt.net/
config reference:url,http://www.cirt.net/NiKan
config reference:url,http://www.cirt.net/code/
config reference:url,http://www.gnucitizen.org/
config reference:url,http://www.gnucitizen.org/blog/
config reference:url,http://www.security-assessment.com/
config reference:url,http://www.security-assessment.com/files/documents/advisory/
config reference:url,http://www.ngssoftware.com/
config reference:url,http://www.ngssoftware.com/research/
config reference:url,http://www.ngssoftware.com/advisories/
config reference:url,http://www.matousec.com/
config reference:url,http://www.matousec.com/projects/
config reference:url,http://www.blackhat.com/
config reference:url,http://www.defcon.org/
config reference:url,http://www.blackhat.com/presentations/
config reference:url,http://www.ccc.de/
config reference:url,http://www.ccc.de/congress/
config reference:url,http://events.ccc.de/
config reference:url,http://www.cansecwest.com/
config reference:url,http://www.cansecwest.com/
config reference:url,http://www.pacsec.jp/
config reference:url,http://www.pstcon.org/
config reference:url,http://www.syssec.rice.edu/
config reference:url,http://www.usenix.org/
config reference:url,http://www.usenix.org/publications/login/
config reference:url,http://www.ruxcon.org.au/
config reference:url,http://www.ruxcon.org.au/
config reference:url,http://www.hacker.co.il/
config reference:url,http://www.hacker.co.il/security/
config reference:url,http://www.securecoding.cert.org/
config reference:url,http://www.cert.org/secure-coding/
config reference:url,http://www.securecoding.cert.org/confluence/display/seccode/SEI+CERT+Coding+Standards
config reference:url,http://www.veracode.com/
config reference:url,http://www.veracode.com/security/
config reference:url,http://www.fortify.com/
config reference:url,http://www.fortify.com/ssa-elements/threat-intelligence/exploits.html
config reference:url,http://www.fortify.com/
config reference:url,http://www.coverity.com/
config reference:url,http://www.coverity.com/library/
config reference:url,http://www.coverity.com/
config reference:url,http://www.klockwork.com/
config reference:url,http://www.klockwork.com/products/
config reference:url,http://www.klockwork.com/
config reference:url,http://www.securecodewarrior.com/
config reference:url,http://www.evilsocket.net/
config reference:url,http://www.evilsocket.net/?page_id=2
config reference:url,http://www.evilsocket.net/
config reference:url,http://www.rootkit.com/
config reference:url,http://www.rootkit.com/vault/fuzen/
config reference:url,http://www.rootkit.com/
config reference:url,http://www.uninformed.org/
config reference:url,http://www.phrack.org/
config reference:url,http://www.phrack.org/archives/
config reference:url,http://www.milw0rm.com/
config reference:url,http://www.exploit-db.com/
config reference:url,http://www.securityfocus.com/
config reference:url,http://www.securityfocus.com/archive/
config reference:url,http://www.securityfocus.com/bid
config reference:url,http://www.securityfocus.com/vulnerabilities
config reference:url,http://www.securityfocus.com/exploits
config reference:url,http://www.vupen.com/
config reference:url,http://www.vupen.com/english/
config reference:url,http://www.vupen.com/english/advisories/
config reference:url,http://www.vupen.com/
config reference:url,http://labs.idefense.com/
config reference:url,http://labs.idefense.com/intelligence/
config reference:url,http://labs.idefense.com/intelligence/vulnerabilities/
config reference:url,http://www.zerodayinitiative.com/
config reference:url,http://www.zerodayinitiative.com/advisories/
config reference:url,http://www.zerodayinitiative.com/
config reference:url,http://www.tippingpoint.com/
config reference:url,http://www.tippingpoint.com/security/advisories/
config reference:url,http://www.criticalwatch.com/
config reference:url,http://www.criticalwatch.com/support/security/
config reference:url,http://www.criticalwatch.com/
config reference:url,http://www.frsirt.com/
config reference:url,http://www.frsirt.com/english/
config reference:url,http://www.frsirt.com/english/advisories/
config reference:url,http://www.frsirt.com/
config reference:url,http://www.reversemode.com/
config reference:url,http://www.reversemode.com/index.php?option=com_remository&Itemid=2&func=fileinfo&id=24
config reference:url,http://www.reversemode.com/
config reference:url,http://www.nruns.com/
config reference:url,http://www.nruns.com/_downloads/
config reference:url,http://www.nruns.com/
config reference:url,http://www.coresecurity.com/
config reference:url,http://www.coresecurity.com/content/
config reference:url,http://www.coresecurity.com/
config reference:url,http://www.offensive-security.com/
config reference:url,http://www.offensive-security.com/metasploit-framework/
config reference:url,http://www.metasploit.com/
config reference:url,http://www.metasploit.com/users/travis/modules/
config reference:url,http://www.backtrack-linux.org/
config reference:url,http://www.backtrack-linux.org/downloads/
config reference:url,http://www.remote-exploit.org/
config reference:url,http://www.remote-exploit.org/backdoors.html
config reference:url,http://www.remote-exploit.org/
config reference:url,http://www.nmap.org/
config reference:url,http://nmap.org/book/man-port-scanning-techniques.html
config reference:url,http://www.insecure.org/
config reference:url,http://www.insecure.org/stf/
config reference:url,http://www.insecure.org/stf/readmes/
config reference:url,http://www.pentest-standard.org/
config reference:url,http://www.pentest-standard.org/index.php/Main_Page
config reference:url,http://www.pentest-standard.org/
config reference:url,http://www.ethicalhacker.net/
config reference:url,http://www.ethicalhacker.net/content/view/43/24/
config reference:url,http://www.ethicalhacker.net/
config reference:url,http://www.hackingexposed.com/
config reference:url,http://www.hackingexposed.com/
config reference:url,http://www.owasp.org/
config reference:url,http://www.owasp.org/index.php/Main_Page
config reference:url,http://www.owasp.org/index.php/OWASP_Testing_Project
config reference:url,http://www.owasp.org/index.php/OWASP_Code_Review_Project
config reference:url,http://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project
config reference:url,http://www.osstmm.org/
config reference:url,http://www.osstmm.org/
config reference:url,http://www.isecom.org/
config reference:url,http://www.isecom.org/projects/osstmm.shtml
config reference:url,http://www.isecom.org/
config reference:url,http://www.ptes.org/
config reference:url,http://www.ptes.org/index.php/Main_Page
config reference:url,http://www.ptes.org/
config reference:url,http://www.sans.org/
config reference:url,http://www.sans.org/reading_room/
config reference:url,http://www.sans.org/reading_room/whitepapers/
config reference:url,http://www.sans.org/reading_room/whitepapers/threats/
config reference:url,http://www.sans.org/reading_room/whitepapers/detection/
config reference:url,http://www.sans.org/reading_room/whitepapers/intrusion/
config reference:url,http://www.sans.org/reading_room/whitepapers/policyissues/
config reference:url,http://www.sans.org/reading_room/whitepapers/auditing/
config reference:url,http://www.sans.org/reading_room/whitepapers/incident/
config reference:url,http://www.sans.org/reading_room/whitepapers/standards/
config reference:url,http://www.sans.org/reading_room/whitepapers/ethicalhacking/
config reference:url,http://www.sans.org/reading_room/whitepapers/malicious/
config reference:url,http://www.sans.org/reading_room/whitepapers/wireless/
config reference:url,http://www.sans.org/reading_room/whitepapers/voip/
config reference:url,http://www.sans.org/reading_room/whitepapers/vulnerability/
config reference:url,http://www.sans.org/reading_room/whitepapers/application/
config reference:url,http://www.sans.org/reading_room/whitepapers/web/
config reference:url,http://www.sans.org/reading_room/whitepapers/casestudies/
config reference:url,http://www.cert.org/
config reference:url,http://www.cert.org/incident_notes/
config reference:url,http://www.cert.org/advisories/
config reference:url,http://www.cert.org/vulnerability_analysis/
config reference:url,http://www.cert.org/tech_tips/
config reference:url,http://www.cert.org/nav/index_red.html
config reference:url,http://www.us-cert.gov/
config reference:url,http://www.us-cert.gov/cas/techalerts/
config reference:url,http://www.us-cert.gov/cas/alerts/
config reference:url,http://www.us-cert.gov/cas/bulletins/
config reference:url,http://www.dshield.org/
config reference:url,http://www.dshield.org/ipscii.html
config reference:url,http://www.dshield.org/
config reference:url,http://www.incidents.org/
config reference:url,http://www.incidents.org/archives/
config reference:url,http://www.incidents.org/
config reference:url,http://www.secureworks.com/
config reference:url,http://www.secureworks.com/research/
config reference:url,http://www.secureworks.com/
config reference:url,http://www.lurhq.com/
config reference:url,http://www.lurhq.com/
config reference:url,http://www.threatpost.com/
config reference:url,http://www.threatpost.com/
config reference:url,http://www.darkreading.com/
config reference:url,http://www.darkreading.com/
config reference:url,http://www.networkworld.com/
config reference:url,http://www.networkworld.com/topics/security.html
config reference:url,http://www.networkworld.com/
config reference:url,http://www.eweek.com/
config reference:url,http://www.eweek.com/c/a/Security/
config reference:url,http://www.eweek.com/
config reference:url,http://www.computerworld.com/
config reference:url,http://www.computerworld.com/topics/Security/
config reference:url,http://www.computerworld.com/
config reference:url,http://www.infoworld.com/
config reference:url,http://www.infoworld.com/t/security/
config reference:url,http://www.infoworld.com/
config reference:url,http://www.csoonline.com/
config reference:url,http://www.csoonline.com/
config reference:url,http://www.scmagazineus.com/
config reference:url,http://www.scmagazineus.com/
config reference:url,http://www.govtech.com/
config reference:url,http://www.govtech.com/security/
config reference:url,http://www.govtech.com/
config reference:url,http://www.fcw.com/
config reference:url,http://www.fcw.com/Articles/2007/08/01/Govt-Tech-Security.aspx
config reference:url,http://www.fcw.com/
config reference:url,http://www.gcN.com/
config reference:url,http://www.gcN.com/sections/security/
config reference:url,http://www.gcN.com/
config reference:url,http://www.nextgov.com/
config reference:url,http://www.nextgov.com/nextgov/ng_20100205_8269.php
config reference:url,http://www.nextgov.com/
config reference:url,http://www.federaltimes.com/
config reference:url,http://www.federaltimes.com/article/20100208/IT04/2080301
config reference:url,http://www.federaltimes.com/
config reference:url,http://www.washingtontechnology.com/
config reference:url,http://www.washingtontechnology.com/news/1_1/28469-1.html
config reference:url,http://www.washingtontechnology.com/
config reference:url,http://www.fiercegovernmentit.com/
config reference:url,http://www.fiercegovernmentit.com/story/security-0
config reference:url,http://www.fiercegovernmentit.com/
config reference:url,http://www.gcn.com/
config reference:url,http://www.gcn.com/Articles/2007/08/01/Govt-Tech-Security.aspx
config reference:url,http://www.gcn.com/
config reference:url,http://www.dhs.gov/
config reference:url,http://www.dhs.gov/xabout/structure/
config reference:url,http://www.dhs.gov/
config reference:url,http://www.cisa.gov/
config reference:url,http://www.cisa.gov/
config reference:url,http://www.nsa.gov/
config reference:url,http://www.nsa.gov/
config reference:url,http://www.fbi.gov/
config reference:url,http://www.fbi.gov/
config reference:url,http://www.secretservice.gov/
config reference:url,http://www.secretservice.gov/
config reference:url,http://www.ice.gov/
config reference:url,http://www.ice.gov/
config reference:url,http://www.customs.gov/
config reference:url,http://www.customs.gov/
config reference:url,http://www.northcom.mil/
config reference:url,http://www.northcom.mil/
config reference:url,http://www.jfhq-gcc.com/
config reference:url,http://www.jfhq-gcc.com/
config reference:url,http://www.pacom.mil/
config reference:url,http://www.pacom.mil/
config reference:url,http://www.eucom.mil/
config reference:url,http://www.eucom.mil/
config reference:url,http://www.centrcom.mil/
config reference:url,http://www.centrcom.mil/
config reference:url,http://www.africom.mil/
config reference:url,http://www.africom.mil/
config reference:url,http://www.socom.mil/
config reference:url,http://www.socom.mil/
config reference:url,http://www.jcs.mil/
config reference:url,http://www.jcs.mil/
config reference:url,http://www.defense.gov/
config reference:url,http://www.defense.gov/
config reference:url,http://www.state.gov/
config reference:url,http://www.state.gov/
config reference:url,http://www.homelandsecurity.gov/
config reference:url,http://www.homelandsecurity.gov/
config reference:url,http://www.whitehouse.gov/
config reference:url,http://www.whitehouse.gov/
config reference:url,http://www.nist.gov/
config reference:url,http://www.nist.gov/
config reference:url,http://www.ncsc.gov.uk/
config reference:url,http://www.ncsc.gov.uk/
config reference:url,http://www.enisa.europa.eu/
config reference:url,http://www.enisa.europa.eu/
config reference:url,http://www.cert.fi/
config reference:url,http://www.cert.fi/
config reference:url,http://www.cert.pl/
config reference:url,http://www.cert.pl/
config reference:url,http://www.cert.ee/
config reference:url,http://www.cert.ee/
config reference:url,http://www.cert.lt/
config reference:url,http://www.cert.lt/
config reference:url,http://www.cert.lv/
config reference:url,http://www.cert.lv/
config reference:url,http://www.cert.at/
config reference:url,http://www.cert.at/
config reference:url,http://www.cert.be/
config reference:url,http://www.cert.be/
config reference:url,http://www.cert.cz/
config reference:url,http://www.cert.cz/
config reference:url,http://www.cert.dk/
config reference:url,http://www.cert.dk/
config reference:url,http://www.cert.fr/
config reference:url,http://www.cert.fr/
config reference:url,http://www.cert.de/
config reference:url,http://www.cert.de/
config reference:url,http://www.cert.gr/
config reference:url,http://www.cert.gr/
config reference:url,http://www.cert.hu/
config reference:url,http://www.cert.hu/
config reference:url,http://www.cert.ie/
config reference:url,http://www.cert.ie/
config reference:url,http://www.cert.it/
config reference:url,http://www.cert.it/
config reference:url,http://www.cert.lu/
config reference:url,http://www.cert.lu/
config reference:url,http://www.cert.mt/
config reference:url,http://www.cert.mt/
config reference:url,http://www.cert.nl/
config reference:url,http://www.cert.nl/
config reference:url,http://www.cert.no/
config reference:url,http://www.cert.no/
config reference:url,http://www.cert.pt/
config reference:url,http://www.cert.pt/
config reference:url,http://www.cert.ro/
config reference:url,http://www.cert.ro/
config reference:url,http://www.cert.sk/
config reference:url,http://www.cert.sk/
config reference:url,http://www.cert.si/
config reference:url,http://www.cert.si/
config reference:url,http://www.cert.es/
config reference:url,http://www.cert.es/
config reference:url,http://www.cert.se/
config reference:url,http://www.cert.se/
config reference:url,http://www.cert.ch/
config reference:url,http://www.cert.ch/
config reference:url,http://www.cert.tr/
config reference:url,http://www.cert.tr/
config reference:url,http://www.cert.ua/
config reference:url,http://www.cert.ua/
config reference:url,http://www.cert.org.au/
config reference:url,http://www.cert.org.au/
config reference:url,http://www.cert.org.nz/
config reference:url,http://www.cert.org.nz/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.jpcert.or.jp/
config reference:url,http://www.jpcert.or.jp/
config reference:url,http://www.apcert.org/
config reference:url,http://www.apcert.org/
config reference:url,http://www.krcert.or.kr/
config reference:url,http://www.krcert.or.kr/
config reference:url,http://www.auscert.org.au/
config reference:url,http://www.auscert.org.au/
config reference:url,http://www.cert.gov.au/
config reference:url,http://www.cert.gov.au/
config reference:url,http://www.cert.org.cn/
config reference:url,http://www.cert.org.cn/
config reference:url,http://www.cert.org.tw/
config reference:url,http://www.cert.org.tw/
config reference:url,http://www.idcert.org.tw/
config reference:url,http://www.idcert.org.tw/
config reference:url,http://www.hkcert.org/
config reference:url,http://www.hkcert.org/
config reference:url,http://www.cert.org.my/
config reference:url,http://www.cert.org.my/
config reference:url,http://www.cert.org.ph/
config reference:url,http://www.cert.org.ph/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.cert.org.th/
config reference:url,http://www.cert.org.th/
config reference:url,http://www.cert.org.vn/
config reference:url,http://www.cert.org.vn/
config reference:url,http://www.cert.gov.br/
config reference:url,http://www.cert.gov.br/
config reference:url,http://www.cert.cl/
config reference:url,http://www.cert.cl/
config reference:url,http://www.cert.funet.fi/
config reference:url,http://www.cert.funet.fi/
config reference:url,http://www.cert.gov.il/
config reference:url,http://www.cert.gov.il/
config reference:url,http://www.cert.org.il/
config reference:url,http://www.cert.org.il/
config reference:url,http://www.cert.org.mx/
config reference:url,http://www.cert.org.mx/
config reference:url,http://www.cert.unam.mx/
config reference:url,http://www.cert.unam.mx/
config reference:url,http://www.cert.org.ar/
config reference:url,http://www.cert.org.ar/
config reference:url,http://www.cert.gov.ar/
config reference:url,http://www.cert.gov.ar/
config reference:url,http://www.cert.org.co/
config reference:url,http://www.cert.org.co/
config reference:url,http://www.cert.gov.co/
config reference:url,http://www.cert.gov.co/
config reference:url,http://www.cert.org.pe/
config reference:url,http://www.cert.org.pe/
config reference:url,http://www.cert.gov.pe/
config reference:url,http://www.cert.gov.pe/
config reference:url,http://www.cert.org.ec/
config reference:url,http://www.cert.org.ec/
config reference:url,http://www.cert.org.py/
config reference:url,http://www.cert.org.py/
config reference:url,http://www.cert.org.gt/
config reference:url,http://www.cert.org.gt/
config reference:url,http://www.cert.org.sv/
config reference:url,http://www.cert.org.sv/
config reference:url,http://www.cert.org.hn/
config reference:url,http://www.cert.org.hn/
config reference:url,http://www.cert.org.ni/
config reference:url,http://www.cert.org.ni/
config reference:url,http://www.cert.org.cr/
config reference:url,http://www.cert.org.cr/
config reference:url,http://www.cert.org.pa/
config reference:url,http://www.cert.org.pa/
config reference:url,http://www.cert.org.do/
config reference:url,http://www.cert.org.do/
config reference:url,http://www.cert.org.cu/
config reference:url,http://www.cert.org.cu/
config reference:url,http://www.cert.org.ve/
config reference:url,http://www.cert.org.ve/
config reference:url,http://www.cert.org.bo/
config reference:url,http://www.cert.org.bo/
config reference:url,http://www.cert.org.uy/
config reference:url,http://www.cert.org.uy/
config reference:url,http://www.cert.gov.au/
config reference:url,http://www.cert.gov.au/
config reference:url,http://www.dsd.gov.au/
config reference:url,http://www.dsd.gov.au/
config reference:url,http://www.cert.org.nz/
config reference:url,http://www.cert.org.nz/
config reference:url,http://www.govcert.org.nz/
config reference:url,http://www.govcert.org.nz/
config reference:url,http://www.cert.govt.nz/
config reference:url,http://www.cert.govt.nz/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.cert.org.sg/
config reference:url,http://www.singcert.org.sg/
config reference:url,http://www.singcert.org.sg/
config reference:url,http://www.cert.org.my/
config reference:url,http://www.cert.org.my/
config reference:url,http://www.mycert.org.my/
config reference:url,http://www.mycert.org.my/
config reference:url,http://www.cert.org.ph/
config reference:url,http://www.cert.org.ph/
config reference:url,http://www.cert.org.th/
config reference:url,http://www.cert.org.th/
config reference:url,http://www.cert.org.vn/
config reference:url,http://www.cert.org.vn/
config reference:url,http://www.cert.org.cn/
config reference:url,http://www.cert.org.cn/
config reference:url,http://www.cert.org.tw/
config reference:url,http://www.cert.org.tw/
config reference:url,http://www.cert.org.hk/
config reference:url,http://www.cert.org.hk/
config reference:url,http://www.hkcert.org/
config reference:url,http://www.hkcert.org/
config reference:url,http://www.cert.org.kr/
config reference:url,http://www.cert.org.kr/
config reference:url,http://www.krcert.or.kr/
config reference:url,http://www.krcert.or.kr/
config reference:url,http://www.cert.org.jp/
config reference:url,http://www.cert.org.jp/
config reference:url,http://www.jpcert.or.jp/
config reference:url,http://www.jpcert.or.jp/
config reference:url,http://www.ipa.go.jp/security/
config reference:url,http://www.ipa.go.jp/security/
config reference:url,http://www.apcert.org/
config reference:url,http://www.apcert.org/
config reference:url,http://www.cert.org.in/
config reference:url,http://www.cert.org.in/
config reference:url,http://www.cert-in.org.in/
config reference:url,http://www.cert-in.org.in/
config reference:url,http://www.cert.org.pk/
config reference:url,http://www.cert.org.pk/
config reference:url,http://www.cert.org.lk/
config reference:url,http://www.cert.org.lk/
config reference:url,http://www.cert.org.bn/
config reference:url,http://www.cert.org.bn/
config reference:url,http://www.cert.org.id/
config reference:url,http://www.cert.org.id/
config reference:url,http://www.cert.org.kh/
config reference:url,http://www.cert.org.kh/
config reference:url,http://www.cert.org.la/
config reference:url,http://www.cert.org.la/
config reference:url,http://www.cert.org.mm/
config reference:url,http://www.cert.org.mm/
config reference:url,http://www.cert.org.mn/
config reference:url,http://www.cert.org.mn/
config reference:url,http://www.cert.org.mo/
config reference:url,http://www.cert.org.mo/
config reference:url,http://www.cert.org.np/
config reference:url,http://www.cert.org.np/
config reference:url,http://www.cert.org.pg/
config reference:url,http://www.cert.org.pg/
config reference:url,http://www.cert.org.ws/
config reference:url,http://www.cert.org.ws/
config reference:url,http://www.cert.org.fj/
config reference:url,http://www.cert.org.fj/
config reference:url,http://www.cert.org.ck/
config reference:url,http://www.cert.org.ck/
config reference:url,http://www.cert.org.to/
config reference:url,http://www.cert.org.to/
config reference:url,http://www.cert.org.tv/
config reference:url,http://www.cert.org.tv/
config reference:url,http://www.cert.org.vu/
config reference:url,http://www.cert.org.vu/
config reference:url,http://www.cert.org.as/
config reference:url,http://www.cert.org.as/
config reference:url,http://www.cert.org.ki/
config reference:url,http://www.cert.org.ki/
config reference:url,http://www.cert.org.mh/
config reference:url,http://www.cert.org.mh/
config reference:url,http://www.cert.org.fm/
config reference:url,http://www.cert.org.fm/
config reference:url,http://www.cert.org.pw/
config reference:url,http://www.cert.org.pw/
config reference:url,http://www.cert.org.mp/
config reference:url,http://www.cert.org.mp/
config reference:url,http://www.cert.org.gu/
config reference:url,http://www.cert.org.gu/
config reference:url,http://www.cert.org.nr/
config reference:url,http://www.cert.org.nr/
config reference:url,http://www.cert.org.nu/
config reference:url,http://www.cert.org.nu/
config reference:url,http://www.cert.org.tk/
config reference:url,http://www.cert.org.tk/
config reference:url,http://www.cert.org.sb/
config reference:url,http://www.cert.org.sb/
config reference:url,http://www.cert.org.za/
config reference:url,http://www.cert.org.za/
config reference:url,http://www.cert.org.bw/
config reference:url,http://www.cert.org.bw/
config reference:url,http://www.cert.org.bi/
config reference:url,http://www.cert.org.bi/
config reference:url,http://www.cert.org.tz/
config reference:url,http://www.cert.org.tz/
config reference:url,http://www.cert.org.rw/
config reference:url,http://www.cert.org.rw/
config reference:url,http://www.cert.org.mw/
config reference:url,http://www.cert.org.mw/
config reference:url,http://www.cert.org.mz/
config reference:url,http://www.cert.org.mz/
config reference:url,http://www.cert.org.zm/
config reference:url,http://www.cert.org.zm/
config reference:url,http://www.cert.org.zw/
config reference:url,http://www.cert.org.zw/
config reference:url,http://www.cert.org.na/
config reference:url,http://www.cert.org.na/
config reference:url,http://www.cert.org.ke/
config reference:url,http://www.cert.org.ke/
config reference:url,http://www.cert.org.et/
config reference:url,http://www.cert.org.et/
config reference:url,http://www.cert.org.dj/
config reference:url,http://www.cert.org.dj/
config reference:url,http://www.cert.org.so/
config reference:url,http://www.cert.org.so/
config reference:url,http://www.cert.org.ug/
config reference:url,http://www.cert.org.ug/
config reference:url,http://www.cert.org.cf/
config reference:url,http://www.cert.org.cf/
config reference:url,http://www.cert.org.td/
config reference:url,http://www.cert.org.td/
config reference:url,http://www.cert.org.gq/
config reference:url,http://www.cert.org.gq/
config reference:url,http://www.cert.org.ga/
config reference:url,http://www.cert.org.ga/
config reference:url,http://www.cert.org.cm/
config reference:url,http://www.cert.org.cm/
config reference:url,http://www.cert.org.cg/
config reference:url,http://www.cert.org.cg/
config reference:url,http://www.cert.org.cd/
config reference:url,http://www.cert.org.cd/
config reference:url,http://www.cert.org.ao/
config reference:url,http://www.cert.org.ao/
config reference:url,http://www.cert.org.gw/
config reference:url,http://www.cert.org.gw/
config reference:url,http://www.cert.org.st/
config reference:url,http://www.cert.org.st/
config reference:url,http://www.cert.org.cv/
config reference:url,http://www.cert.org.cv/
config reference:url,http://www.cert.org.sc/
config reference:url,http://www.cert.org.sc/
config reference:url,http://www.cert.org.mu/
config reference:url,http://www.cert.org.mu/
config reference:url,http://www.cert.org.yt/
config reference:url,http://www.cert.org.yt/
config reference:url,http://www.cert.org.re/
config reference:url,http://www.cert.org.re/
config reference:url,http://www.cert.org.mg/
config reference:url,http://www.cert.org.mg/
config reference:url,http://www.cert.org.km/
config reference:url,http://www.cert.org.km/
config reference:url,http://www.cert.org.tn/
config reference:url,http://www.cert.org.tn/
config reference:url,http://www.cert.org.ly/
config reference:url,http://www.cert.org.ly/
config reference:url,http://www.cert.org.eg/
config reference:url,http://www.cert.org.eg/
config reference:url,http://www.cert.org.ma/
config reference:url,http://www.cert.org.ma/
config reference:url,http://www.cert.org.dz/
config reference:url,http://www.cert.org.dz/
config reference:url,http://www.cert.org.eh/
config reference:url,http://www.cert.org.eh/
config reference:url,http://www.cert.org.mr/
config reference:url,http://www.cert.org.mr