http:
  routers:
    web:
      rule: "Host(`localhost`)"
      service: web
    api:
      rule: "Host(`localhost`) && PathPrefix(`/api`)"
      service: api

  services:
    web:
      loadBalancer:
        servers:
          - url: "http://web:80"
    api:
      loadBalancer:
        servers:
          - url: "http://api:8000"